@font-face {
  font-family: Metropolis-Medium;
  src: url("font/Metropolis-Medium.otf"),
    url("font/Metropolis-Medium.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Bold;
  font-weight: bold;
  src: url("font/Metropolis-Bold.otf"),
    url("font/Metropolis-Bold.otf") format("opentype");
}

#mainContent {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

#gameDiv {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 95vh;
}

html,
body,
.login-box {
  background: #2e64bc;
  height: 95%;
}

.card {
  margin-right: auto !important;
  margin-left: auto !important;
}

body {
  font-family: Metropolis-Medium;
}

code {
  font-size: 24px;
  background-color: #ebebeb;
}

.playingCard_black {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 135px;
  width: 90px;
  color: black;
  padding: 5px;
  margin: 8px;
  font-size: 28px;
}

#usernamesMoney {
  font-size: 30px;
  min-height: 219px;
}

.playingCard_red {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 135px;
  width: 90px;
  color: red;
  padding: 5px;
  margin: 8px;
  font-size: 28px;
}

.menuButtons {
  zoom: 0.8;
  margin: 2px;
}

.card-content {
  font-size: 16px;
}

.theirTurn {
  border: 5px solid yellow;
}

.playingCard_red_opponent {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  color: red;
  padding: 5px;
  margin: 4px;
  font-size: 18px;
}

.playingCard_black_opponent {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  color: black;
  padding: 5px;
  margin: 4px;
  font-size: 18px;
}

.blankCard {
  float: left;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  border: 5px solid black;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  padding: 10px;
  margin: 4px;
}

.selected {
  background: grey;
  border: 2px solid red;
}

#divStart {
  text-align: center;
}

.modal {
  position: absolute;
}

.toast {
  position: relative;
  z-index: -1 !important;
}
