@font-face {
  font-family: Metropolis-Medium;
  src: url('font/Metropolis-Medium.otf'), url('font/Metropolis-Medium.otf') format("opentype");
}

@font-face {
  font-family: Metropolis-Bold;
  font-weight: bold;
  src: url("font/Metropolis-Bold.otf"), url("font/Metropolis-Bold.otf") format("opentype");
}

#header div {
  /* float: left; */
  margin-left: 10px;
}

#divStart {
  text-align: center;
}

html,
body,
.login-box {
  background: whitesmoke;
  height: 100%;
}

.card {
  margin-right: auto !important;
  margin-left: auto !important;
}

body {
  font-family: Metropolis-Medium;
}

code {
  font-size: 24px;
  background-color: #ebebeb;
}